body {
    background-image: url('paint-wall.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav li {
    margin: 0 20px; /* Add space between navigation items */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px; /* Adjust the logo size as needed */
    height: auto;
    width: 50px;
    height: 50px;
}

section {
    padding: 20px;
}

/* Style the hyperlinks */
nav a {
    text-decoration: none;
    color: white;
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold; /* Make text bold */
    transition: color 0.3s;
    text-align: center; /* Center the text horizontally */
    display: block; /* Make the entire hyperlink a block element to center vertically */
    line-height: 1.2; /* Adjust line-height as needed for vertical centering */
}

/* Change text color on hover */
nav a:hover {
    color: grey;
}

/* Reset text color after clicking the link */
nav a:visited {
    color: white;
}

#home {
    /* Add styles for the image carousel */
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

#about {
    /* Add styles for the about section */
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

#gallery {
    /* Add styles for the project gallery section */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact {
    /* Add styles for the about section */
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

/* Style each project thumbnail */
.project-thumbnail {
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
    position: relative;
}

.project-thumbnail img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Adjust the value to control the roundness of corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values for the shadow */
}

.thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;
    border-radius: 10px; /* Adjust the value to control the roundness of corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values for the shadow */
}

.project-thumbnail:hover .thumbnail-overlay {
    opacity: 1;
}

.thumbnail-overlay h3 {
    margin: 0;
    font-size: 18px;
}

footer {
    background: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold; /* Make text bold */
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    #gallery .project-thumbnail {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    #gallery .project-thumbnail {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.email-form {
    background: rgba(255, 255, 255, 0.3); /* Transparent white background */
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.email-form h2 {
    font-size: 24px;
    font-weight: bold;
}

.email-form form {
    display: flex;
    flex-direction: column;
}

.email-form label {
    margin: 10px 0;
    font-weight: bold;
}

.email-form input,
.email-form textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.email-form button {
    background-color: #0074D9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.email-form button:hover {
    background-color: #0056B3;
}